name: Healthcheck
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Healthcheck
        run: |-
          # Make the request and capture the body and status code in variables
          http_response=$(curl -s -w "\n%{http_code}" "${{ vars.HF_SPACE_URL }}/healthz/readiness")
          http_body=$(echo "$http_response" | sed '$d')
          http_status=$(echo "$http_response" | tail -n1)

          echo "http_body: $http_body"
          echo "http_status: $http_status"

          # Check if jq is installed, and install it if it's not.
          if ! command -v jq &> /dev/null; then
              echo "jq could not be found, installing..."
              sudo apt-get update && sudo apt-get install -y jq
          fi

          # Check the HTTP status code
          if [ "$http_status" -ne 200 ]; then
            echo "::error::Health check failed with status code $http_status"
            echo "Response body: $http_body"
            exit 1
          fi

          # Parse the JSON response and check the status field
          response_status=$(echo "$http_body" | jq -r '.status')

          if [ "$response_status" != "ok" ]; then
            echo "::error::Health check failed. Expected status 'ok', but got '$response_status'"
            echo "Response body: $http_body"
            exit 1
          fi

          echo "Health check successful!"
